<div class="container mx-auto">
  <div class="flex object-left-top min-h-screen">
    <h1 class="type-fruit font-mono break-words pr-5 text-8xl text-white"></h1>
  </div>

  <section id="section-taylor">
    <div class="flex object-bottom justify-center py-32">
      <iframe width="1000"
              height="600"
              src="https://www.youtube.com/embed/sRxrwjOtIag?si=4NQDcqt_Zp56ldRu&autoplay=1&loop=1"
              title="YouTube video player"
              allow="autoplay; fullscreen"
              allowfullscreen
      > </iframe>
    </div>
  </section>

  <div class="flex object-bottom justify-center">
    <a href="#section-taylor">
      <button
        type="button"
        data-te-ripple-init
        data-te-ripple-color="light"
        class="!fixed bottom-5 rounded-full bg-midnights-light p-3 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg"
      >

        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path fill="currentColor" d="M11 4h2v12l5.5-5.5l1.42 1.42L12 19.84l-7.92-7.92L5.5 10.5L11 16z"/>
        </svg>
      </button>
    </a>
  </div>

</div>
