.icon {
  margin-right: 25px;
  position: relative;
  z-index: 1;
}


.icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border: 1px transparent;
  border-radius: 50%;
  transition: width 0.1s, height 0.1s;
  z-index: 2;
}

.icon:hover::before {
  width: 45px;
  height: 45px;
  opacity: 0.5;
  background-color: rgb(209, 206, 202);
  z-index: 2;
}

.icon:hover {
  cursor: pointer;
}

.icon svg {
  z-index: 3;
}

