<div class="bg-midnights">
  <div class='flex justify-end mt-5 ml-4 sm:mr-4 2xl:mr-10 cursor-pointer'>
    <figure class="relative rounded-2xl transition-all duration-300 cursor-pointer group">
      <div>
        <img [ngSrc]="image" class="rounded-2xl" loading="eager" width="500" height="500" alt="pfp" />
      </div>
      <div class="flex items-center justify-center absolute rounded-2xl inset-0 group-hover:opacity-85 group-hover:bg-hover opacity-0 transition duration-300 ease-in-out">
        <figcaption class="txt px-4 bottom-6 text-2xl text-midnights">
          <span>Kim Seon-ho - HomeTown Cha-Cha-Cha</span>
        </figcaption>
      </div>
    </figure>
  </div>
</div>
