.tooltip {
  position: relative;
}

.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  background-color: #72665b;
  color: #edece8;
  border-radius: 20px;
  opacity: 0;
  transition: 0.5s ease;
}

.tooltip:hover::after {
  opacity: 1;
}
