<div class="bg-midnights mt-4 m-14">
  <ul class="justify-center grid grid-cols-1 md:grid-cols-3 2xl:grid-cols-4 gap-5">
    <li>
      <button class="before:opacity-40 before:bg-red relative block overflow-hidden order-1 rounded-2xl">
        <img class="h-auto max-w-full rounded-2xl" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg" alt="">
        <div class="absolute overlay top-0 bottom-0 left-0 right-0 h-full w-full opacity-0 transition .5s ease-in order-1">
          <div class="absolute bottom-5 text-black textForm left-1/2 text-2xl transform -translate-x-1/2 text-center">Hello World</div>
        </div>
      </button>
    </li>
    <li class="rounded-2xl">
      <button class="before:opacity-40 before:bg-fearless relative block overflow-hidden order-1 rounded-2xl">
        <img class="h-auto max-w-full rounded-2xl" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg" alt="">
        <div class="absolute overlay top-0 bottom-0 left-0 right-0 h-full w-full opacity-0 transition .5s ease-in order-1">
          <div class="absolute bottom-5 text-black textForm left-1/2 text-2xl transform -translate-x-1/2 text-center">Hello World</div>
        </div>
      </button>
    </li>
    <li class="rounded-2xl">
      <button class="before:opacity-40 before:bg-speaknow relative block overflow-hidden order-1 rounded-2xl">
        <img class="h-auto max-w-full rounded-2xl" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg" alt="">
        <div class="absolute overlay top-0 bottom-0 left-0 right-0 h-full w-full opacity-0 transition .5s ease-in order-1">
          <div class="absolute bottom-5 text-black textForm left-1/2 text-2xl transform -translate-x-1/2 text-center">Hello World</div>
        </div>
      </button>
    </li>
    <li class="rounded-2xl">
      <button class="before:opacity-40 before:bg-reputation relative block overflow-hidden order-1 rounded-2xl">
        <img class="h-auto max-w-full rounded-2xl" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg" alt="">
        <div class="absolute overlay top-0 bottom-0 left-0 right-0 h-full w-full opacity-0 transition .5s ease-in order-1">
          <div class="absolute bottom-5 text-black textForm left-1/2 text-2xl transform -translate-x-1/2 text-center">Hello World</div>
        </div>
      </button>
    </li>
    <li class="rounded-2xl">
      <button class="before:opacity-40 before:bg-folklore relative block overflow-hidden order-1 rounded-2xl">
        <img class="h-auto max-w-full rounded-2xl" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg" alt="">
        <div class="absolute overlay top-0 bottom-0 left-0 right-0 h-full w-full opacity-0 transition .5s ease-in order-1">
          <div class="absolute bottom-5 text-black textForm left-1/2 text-2xl transform -translate-x-1/2 text-center">Hello World</div>
        </div>
      </button>
    </li>
    <li class="rounded-2xl">
      <button class="before:opacity-40 before:bg-evermore relative block overflow-hidden order-1 rounded-2xl">
        <img class="h-auto max-w-full rounded-2xl" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg" alt="">
        <div class="absolute overlay top-0 bottom-0 left-0 right-0 h-full w-full opacity-0 transition .5s ease-in order-1">
          <div class="absolute bottom-5 text-black textForm left-1/2 text-2xl transform -translate-x-1/2 text-center">Hello World</div>
        </div>
      </button>
    </li>
    <li class="rounded-2xl">
      <button class="before:opacity-40 before:bg-TS1989 relative block overflow-hidden order-1 rounded-2xl">
        <img class="h-auto max-w-full rounded-2xl" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg" alt="">
        <div class="absolute overlay top-0 bottom-0 left-0 right-0 h-full w-full opacity-0 transition .5s ease-in order-1">
          <div class="absolute bottom-5 text-black textForm left-1/2 text-2xl transform -translate-x-1/2 text-center">Hello World</div>
        </div>
      </button>
    </li>
    <li class="rounded-2xl">
      <button class="before:opacity-40 before:bg-midnight relative block overflow-hidden order-1 rounded-2xl">
        <img class="h-auto max-w-full rounded-2xl" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg" alt="">
        <div class="absolute overlay top-0 bottom-0 left-0 right-0 h-full w-full opacity-0 transition .5s ease-in">
          <div class="absolute bottom-5 text-black textForm left-1/2 text-2xl transform -translate-x-1/2 text-center">Hello World</div>
        </div>
      </button>
    </li>
  </ul>
</div>
