<div class="bg-midnights mt-4 m-14 2xl:ml-20">
  <ul class="justify-center grid grid-cols-1 md:grid-cols-3 2xl:grid-cols-4 gap-5">
    <li>
      <button class="relative block rounded-2xl overflow-hidden bg-reputation" [routerLink]="['./reputation']" routerLinkActive="active">
        <img class="rounded-2xl opacity-30 object-cover" [ngSrc]="reputation" alt="reputation" width="400" height="400">
        <div class="absolute top-0 bottom-0 left-0 right-0 h-full w-full">
          <div class="absolute bottom-1/2 top-1/2 text-midnights left-5 right-5 textForm uppercase text-xl xl:text-2xl">the reputation era</div>
        </div>
      </button>
    </li>
    <li>
      <button class="relative block rounded-2xl overflow-hidden bg-evermore" [routerLink]="['./evermore']" routerLinkActive="active">
        <img class="rounded-2xl opacity-30 object-cover" [ngSrc]="evermore" alt="evermore" width="400" height="400">
        <div class="absolute top-0 bottom-0 left-0 right-0 h-full w-full">
          <div class="absolute bottom-1/2 top-1/2 text-midnights left-5 right-5 textForm uppercase text-xl xl:text-2xl">the evermore era</div>
        </div>
      </button>
    </li>
    <li>
      <button class="relative block rounded-2xl overflow-hidden bg-TS1989" [routerLink]="['./ts1989']" routerLinkActive="active">
        <img class="rounded-2xl opacity-30 object-cover" [ngSrc]="nineteen" alt="1989" width="400" height="400">
        <div class="absolute top-0 bottom-0 left-0 right-0 h-full w-full">
          <div class="absolute bottom-1/2 top-1/2 text-midnights left-5 right-5 textForm uppercase text-xl xl:text-2xl">The 1989 era</div>
        </div>
      </button>
    </li>
    <li>
      <button class="relative block rounded-2xl overflow-hidden bg-speaknow" [routerLink]="['./speaknow']" routerLinkActive="active">
        <img class="rounded-2xl opacity-30 object-cover" [ngSrc]="speaknow" alt="speak now" width="400" height="400">
        <div class="absolute top-0 bottom-0 left-0 right-0 h-full w-full">
          <div class="absolute bottom-1/2 top-1/2 text-midnights left-5 right-5 textForm uppercase text-xl xl:text-2xl">the speak now era</div>
        </div>
      </button>
    </li>
    <li>
      <button class="relative block rounded-2xl overflow-hidden bg-folklore" [routerLink]="['./folklore']" routerLinkActive="active">
        <img class="rounded-2xl opacity-30 object-cover" [ngSrc]="folklore" alt="folklore" width="400" height="400">
        <div class="absolute top-0 bottom-0 left-0 right-0 h-full w-full">
          <div class="absolute bottom-1/2 top-1/2 text-midnights left-5 right-5 textForm uppercase text-xl xl:text-2xl">the folklore era</div>
        </div>
      </button>
    </li>
    <li>
      <button class="relative block rounded-2xl overflow-hidden bg-fearless" [routerLink]="['./fearless']" routerLinkActive="active">
        <img class="rounded-2xl opacity-30 object-cover" [ngSrc]="fearless" alt="fearless" width="400" height="400">
        <div class="absolute top-0 bottom-0 left-0 right-0 h-full w-full">
          <div class="absolute bottom-1/2 top-1/2 text-midnights left-5 right-5 textForm uppercase text-xl xl:text-2xl">the fearless era</div>
        </div>
      </button>
    </li>
    <li>
      <button class="relative block rounded-2xl overflow-hidden bg-midnight" [routerLink]="['./midnights']" routerLinkActive="active">
        <img class="rounded-2xl opacity-30 object-cover" [ngSrc]="midnight" alt="midnights" width="400" height="400">
        <div class="absolute top-0 bottom-0 left-0 right-0 h-full w-full">
          <div class="absolute bottom-1/2 top-1/2 text-midnights left-5 right-5 textForm uppercase text-xl xl:text-2xl">the midnights era</div>
        </div>
      </button>
    </li>
    <li>
      <button class="relative block rounded-2xl overflow-hidden bg-red" [routerLink]="['./red']" routerLinkActive="active">
        <img class="rounded-2xl opacity-30 object-cover" [ngSrc]="red" alt="red" width="400" height="400">
        <div class="absolute top-0 bottom-0 left-0 right-0 h-full w-full">
          <div class="absolute bottom-1/2 top-1/2 text-midnights left-5 right-5 textForm uppercase text-xl xl:text-2xl">The red era</div>
        </div>
      </button>
    </li>
  </ul>
</div>
