.grid svg {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove any extra spacing */
}

@media (min-width: 640px) {
  .grid svg {
    max-width: 100%; /* Set maximum width to 50% of the container */
    max-height: 150%; /* Set maximum width to 50% of the container */
  }
}

@media (min-width: 1536px) {
  .grid svg {
    width: 1100px;
    height: 650px;
  }
}
