<div class="bg-midnights m-4 2xl:ml-14">
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <div class="grid gap-4" *ngFor="let gallery of listePictures;">
      <div>
        <img class="h-auto max-w-full rounded-lg"
             [ngSrc]="gallery.picture_url"
             [alt]="gallery.description + gallery.picture_date + gallery.gallery_id"
             width="400" height="400"
        >
<!--             (click)="toggleModal(gallery.picture_url)"-->

      </div>
    </div>
  </div>

<!--  <div *ngIf="showModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">-->
<!--    <div class="relative">-->
<!--      <img class="rounded-lg m-10 image"-->
<!--           [ngSrc]="selectedImage"-->
<!--           alt="image big gallery"-->
<!--           width="865" height="865"-->
<!--      >-->
<!--    </div>-->
<!--  </div>-->

</div>
