@media (min-width: 320px) {
  .image {
    width: 400px;
    height: 400px;
  }
}


@media (min-width: 1280px) {
  .image {
    width: 505px;
    height: 505px;
  }
}

@media (min-width: 1536px) {
  .image {
    width: 865px;
    height: 865px;
  }
}
