@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'nitti-typewriter-normal';
  src: url("assets/IBMPlexMono-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'big-caslon-fb';
  src: url("assets/CASLFS__.TTF") format('truetype');
}


.textForm {
  font-family: 'nitti-typewriter-normal'; /* Apply the font to the body or any other element */
  text-transform: uppercase;
}
body {
  background: #edece8;
  scroll-behavior: smooth;
}

.txt {
  font-family: "big-caslon-fb";
}

.cat-modal {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
  height: auto;
  display: block;
}

@media (min-width: 640px) {
  .cat-modal {
    max-width: 100%;
    max-height: 175%;
  }
}
