@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Nunito Light';
  src: url("assets/Nunito-Light.ttf") format('truetype'); /* Adjust the path to your font file */
  /* Add other font formats (woff, woff2, etc.) for better browser compatibility */
}

.textForm {

  font-family: 'Nunito Light'; /* Apply the font to the body or any other element */
  text-transform: uppercase;
}
body {
  background: #edece8;
  scroll-behavior: smooth;
}

.txt {
  font-family: "big-caslon-fb";
}
